#navbar {
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: #000;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 11vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

#navbar::-webkit-scrollbar {
    display: none;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

/* .nav-logo {
    padding: 10px;
} */

.nav-logo img {
    border-radius: 10px;
    height: 50px; 
    width: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.nav-links a {
    text-decoration: none;
    color : white;
    margin: 0 20px;
    font-size : 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.content {
    background-color: #f2f2f2;
}