.profile-page-container{
    color : white;
    text-align: center;
    flex : 1 ;
    background-color: black;
    height : 89vh;
}

.profile-page-text{
    margin-top : 80px ;
}
.profile-username{
    text-align: left;
    margin: 0px;
}
.profile-email{
    text-align: left;
    margin: 0px;
    padding: 0px 20px;
}

.log-out-button{
    margin-top : 5vh ;
    border : 2px solid black;
    background-color: white;
    padding : 8px;
    border-radius: 4px; 
    font-weight: bold;
    cursor: pointer;
}

.log-out-button:hover {
    background-color: #333;
    transition: 0.2s ease;
    color: #e6e6fa;
}