*{
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    overflow: hidden;
  }

  .email-container{
    text-align: center;
  flex: 1;
  height : 89vh;
  background-color: #000;
  }

  .email-text{
    margin-top : 140px;
    padding : 20px;
    text-align: center;
    color: white;
  }

  
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-group-button {
    margin-top: 20px;
  }

  .email-submit-button {
    background-color:white;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .email-submit-button:hover {
    background-color: #333;
    color : white;
    transition : 0.2s ease;
  }
  